.destinations__button-icon {
  background: url('../assets/arrow-right.svg');
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 10px;
}

.destinations__button {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 40px auto 0;
}