.header {
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);

  @include media-tablet {
    background: transparent;
    box-shadow: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  // padding: 25px 0 34px;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;

  &__text {
    margin: 0;
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    white-space: nowrap;

    @include media-laptop {
      display: none;
    }
  }
  
  &__img {
    display: block;
    background: url('#{$assetPath}/logo.svg');    
    width: 30px;
    height: 30px;
    margin-right: 6px;
  }
}

.nav {
  @include media-tablet {
    display: none;
  }
}

.nav__item {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  &:not(:last-child) {
    margin-right: 42px;

    @include media-tablet {
      margin-right: 10px;
    }
  }
  &:hover {
    opacity: 0.8;
  }
}

.header__button {
  @include media-tablet {
    display: none;
  }
}

.header__burger {
  display: none;

  @include media-tablet {
    display: block;
  }
}
