.steps__container {
  display: flex;
  justify-content: space-between;
}

.steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.steps__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background: #F2785C;
  border-radius: 16px;

  @include media-tablet {
    height: 70px;
    width: 70px;
  }
}

.steps__descr {
  font-family: 'Aleo';
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
  margin-top: 30px;

  @include media-tablet {
    font-size: 10px;
    line-height: 12px;
  }
}
